<h1>Edit Media info</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.media_info_path(@conn, :update, @media_info)) %>

<span><%= link "Back", to: Routes.media_info_path(@conn, :index) %></span>
